* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif, normal, normal;
}
body {
    background-color: #FDFCFD;
    color: #2C3759;
} 
fieldset {
    border: none;
    text-align: center;
}
input[type="file"] {
    display: none;
}
figure {
    margin-top: 4px;
}
button {
    background-color: transparent;
    outline: none;
    border: none;
}
[type="checkbox"] {
    opacity: 0;
}
.hidden {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    display: none;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #F2D8EE;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
}
::-webkit-scrollbar-thumb:hover {
    background: #FDFCFD;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(167, 166, 166);
    border-radius: 2px;
}
.register-page {
    flex-direction: column;
}
.login-page, .register-sections {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    /* height: 100vh; */
    padding: 15px 0px;
}
.left {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.logo-theme {
    margin: 20px 0px 10px;
    font-weight: 550;
    font-size: 24px;
    line-height: 25px;
}
.logo-name {
    color: #8C6883;
}
.right, .form {
    display: flex;
    flex-direction: column;
}
.providers-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submit-button {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border-style: none;
    background: #FAAC19;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #FAE8E4;
    outline: transparent;
    transition: 0.5s ease-in-out;
}
.submit-button:hover {
    color: #FAAC19;
    background-color: transparent;
    border: solid 3px #FAAC19;
}
.subtitle {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}
.button-in-text {
    color: #8C6883;
    font-size: 14px;
    font-weight: 500;
    border-style: none;
    outline: transparent;
    transition: 0.3s ease-in-out;
}
.button-in-text:hover {
    text-decoration: underline;
    color: #FAAC19;
}
.input-in-line {
    width: 255px;
    border: none;
    border-bottom: 2px solid #8C6883;
    padding: 8px;
    background-color: transparent;
    outline: none;
    transition: 0.3s ease-in-out;
}
.input-in-line:focus {
    background-color: #F2D8EE;
}
.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 10px;
    outline: transparent;
    color: #FAAC19;
    background-color: transparent;
    border: solid 3px #FAAC19;
    transition: 0.5s ease-in-out;
}
.button-icon:hover {
    color: #FAE8E4;
    background: #FAAC19;
}
.error-message {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 250px;
    margin-top: 10px;
    padding: 5px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    color: #D48573;
}
.timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 25px 0px;
}
.button-icon-feed {
    border-style: none;
    background-color: transparent;
    outline: transparent;
    padding: 0px 15px;
}
.current-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.greetings {
    display: flex;
    flex-wrap: row;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 24px;
    color: #8C6883;
    margin: 10px;
}
#publish-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 200px;
    background-color: #F2EEEA;
    border-radius: 10px;
    margin: 30px 0px;
    padding: 15px 15px 8px;
}
.text {
    border: none;
    border-bottom: solid 2px #8C6883;
    background-color: #F2EEEA;
    width: 100%;
    height: 108px;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    resize: none;
    outline-color: #F2D8EE;
}    
.text:focus {
    background-color: #F2D8EE;
}
#postText {
    padding: 10px;
}
.publish-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}
#publish {
    width: 120px;
}
.input-file {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8C6883;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border-style: none;
}
.post-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
    background: #F2EEEA;
    border-radius: 10px;
    margin: 20px 0px;
    overflow: auto;
}
.top-post {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px;
}
.bottom-post {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: none;
    border-top: solid 2px #8C6883;
}
.left-post, .left-comment {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-right: 15px;
}
.avatar, .avatar-comment {
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 100%;
    object-fit: cover; 
    border: solid 2px #FDFCFD;
    background-color: #F2D8EE;
}
.right-post, .right-comment {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.user-info, .user-info-comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.username, .username-comment {
    font-weight: 500;
    font-size: 16px;
}
.post-date, .post-date-comment {
    font-size: 12px;
}
.post-content, .comment-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: lighter;
    font-size: 14px;
    line-height: 1.25em;
    color: #2C3759;
    word-break: break-word;
    max-width: 420px;
}
.post-buttons, .comment-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.post-function, .comment-function, .fa-heart {
    font-size: 21px;
    color:#d3cbc3;
    padding: 0 2px;
    background-color: transparent;
    outline: none;
    border: none;
}
.button-other-users {
    display: flex;
    flex-direction: row;
    align-items: center;
}    
[type="checkbox"]:checked + label i {
    color: #D48573;
  }
.on-edition {
    display: none;
}
.on-edition.display {
    display: block;
}  
.edition-content {
    resize: none;
    border: none;
    outline: solid 2px #d3cbc3;
    background-color: #f7f3ef;
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px;
}
.edition-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
}
.send-button {
    width: 75px;
    height: 25px;
    border-radius: 6px;
    border-style: none;
    background: #FAAC19;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #FDFCFD;
    outline: transparent;
    transition: 0.3s ease-in-out;
}
.send-button:hover, .send-button:active {
    color: #FAAC19;
    background-color: transparent;
    border: solid 2px #FAAC19;
}
.comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.comment-text {
    background-color: #F2EEEA;
    width: 515px;
    min-height: 16px;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    resize: none;
    border: none;
    outline: none;
    padding: 8px 15px 0px;
}
.comment-button {
    color: #FAAC19;
    font-size: 14px;
    font-weight: 500;
    border-style: none;
    outline: transparent;
    padding: 0px 8px;
    transition: 0.3s ease-in-out;
}
.post-comment {
    display: flex;
    flex-direction: row;
    width: 600px;
    padding: 15px;
    border-bottom: solid 0.5px #8C6883;
    flex-wrap: wrap;
    overflow: auto;
}
.form-comment {
    display: flex;
    flex-direction: row;
}
.post-features {
    font-size: 21px;
    color:#d3cbc3;
    outline: none;
    padding: 0 2px;
    background-color: transparent;
}
.post-features:hover, .post-features:active, .comment-button:hover, .comment-button:active, .logout:hover, .logout:active {
    color: #8C6883;
}
.logout {
    font-size: 36px;
    color: #FAAC19;
    transition: 0.3s ease-in-out;
}
label.label-form {
    display: flex;
    justify-content: left;
    margin: 10px 0 5px; 
    text-align: left;
    font-size: 16px;
    font-weight: 500;
}
.required-item {
    font-size: 12px;
    font-weight: bold;
    color: #D48573;
    margin-left: 5px;
}
.back-button {
    color: #8C6883;
    font-size: 36px;
    font-weight: 900;
    transition: 0.5s ease-in-out;
}
.back-button:hover, .back-button:active {
    color: #FAAC19;
}
#back {
    background-color: transparent;
    border-style: none;
    outline: none;
}
.fa-chevron-left:before {
    content: "\f053";
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 0 0 30px;
}    
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 0% 25%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #F2D8EE;
    font-size: 12px;
    font-weight: lighter;
}
a {
    text-decoration: none;
    color: #2C3759;
    font-size: 12px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}
a:hover {
    color: #FAAC19;
}
.font-icons {
    font-size: 18px;
    margin-right: 9px;
}
.footer-icon {
    font-size: 16px;
    margin-right: 8px;
}
img {
    border-top-left-radius: 85%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 75%;
}
@media (max-width: 415px) {
    #publish-form, .post-container, .header, .post-comment {
        width: 300px;
    }
    .comment-text {
        width: 210px
    }
    img {
        width: 200px;
        height: 150px;
    }
}
