* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif, normal, normal;
} 
fieldset {
    border: none;
}
input[type="file"] {
    display: none;
}
label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-style: none;
    cursor: pointer;
    font-size: 1.8em;
    color: #b6a89a;
}
figure {
    margin-top: 4px;
}
[type="checkbox"] {
    opacity: 0;
}
.hidden {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    display: none;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #FF780F;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
}
::-webkit-scrollbar-thumb:hover {
    background: #FF780F;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(105, 109, 109);
    border-radius: 2px;
}
.login-page, .register-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    padding: 15px 0px;
}
.left {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.logo-theme {
    margin: 20px 0px 10px;
    font-weight: 550;
    font-size: 24px;
    color: #231911;
    line-height: 25px;
    width: 200px;
}
.logo-name {
    color: #FF780F;
}
.right, .form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}
.providers-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.submit-button {
    width: 240px;
    height: 35px;
    border-radius: 50px;
    border-style: none;
    background: #FF780F;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    margin: 18px 0px;
    outline: transparent;
}
.submit-button:hover {
    background-color:#FEBB86;
}
.subtitle {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #231911;
}
.button-in-text {
    color: #FF780F;
    font-size: 14px;
    font-weight: medium;
    border-style: none;
    background-color: #FFFFFF;
    outline: transparent;
}
.button-in-text:hover {
    text-decoration: underline;
}
.input-in-line {
    width: 255px;
    border: none;
    border-bottom: 1.5px solid #231911;
    padding: 8px;
    outline-color: #FF780F;
}
.button-icon {
    border-style: none;
    background-color: #FFFFFF;
    padding: 10px;
    margin: 18px 0px;
    outline: transparent;
}
.error-message {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    color: #db0b0b;
}
.timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 25px 0px;
}
.button-icon-feed {
    border-style: none;
    background-color: transparent;
    outline: transparent;
    padding: 0px 15px;
}
.current-user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.greetings{
    display: flex;
    flex-wrap: row;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 24px;
    color: #FF780F;
    margin: 10px;
}
#publish-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 200px;
    background-color: #F2EEEA;
    border-radius: 10px;
    margin: 30px 0px;
    padding: 15px;
}
.text {
    border: none;
    border-bottom: solid 2px #d3cbc3;
    background-color: #F2EEEA;
    width: 580px;
    height: 108px;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    resize: none;
    color: #231911;
    outline: none;
}
.publish-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
}
#publish {
    width: 120px;
    height: 35px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    outline: transparent;
    margin-left: 10px;
}
.button-icon:hover, label:hover {
    opacity: .60;
}
.input-file{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF780F;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border-style: none;
}
.post-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    background: #F2EEEA;
    border-radius: 10px;
    margin: 20px 0px;
    padding: 15px;
    overflow: auto;
}
.left-post {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-right: 15px;
}
.avatar {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover; 
    background-color: #FEBB86;
}
.right-post {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.user-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.username {
    font-weight: 500;
    font-size: 16px;
    color: #231911;
}
.post-date {
    font-size: 12px;
    color: #b6a89a;
}
.post-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: lighter;
    font-size: 14px;
    line-height: 1.25em;
    color: #231911;
    word-break: break-word;
}
.post-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.post-function {
    outline: none;
    border: none;
}
.button-other-users {
    display: flex;
    flex-direction: row;
    align-items: center;
}    
.edit:hover, .delete:hover{
    opacity: .70;
}
[type="checkbox"]:checked + label{
    color: #FF780F;
  }
.on-edition{
    display: none;
}
.on-edition.display{
    display: block;
}  
.edition-content{
    resize: none;
    border: none;
    outline: solid 2px #d3cbc3;
    background-color: #f7f3ef;
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px;
}
.edition-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
}
.send-button{
    width: 75px;
    height: 25px;
    border-radius: 25px;
    border-style: none;
    background: #B6A89A;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    outline: transparent;
}
@media (max-width: 375px) {
    #publish-form, .post-container, .header{
        width: 300px;
    }
    .text{
        width: 250px;
    }
}
